/*
  Simple Style Reset - Consider using something more robust
*/

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

/* Main App Styles */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#shortcuts-modal-toggle {
    text-decoration: underline;
    cursor: pointer;
}

.shortcut-header-row {
    font-weight: 700;
    font-size: 0.75em;
}

.shortcut-row, .shortcut-header-row {
    padding: 0 2em 0 1em;
}

.shortcut-list .shortcut-row {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    gap: 1em;

    border-top: solid 1px grey;
}

.shortcut-row .shortcut-keys {
    direction: ltr;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    margin-bottom: 30px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Settings container positioned relative to allow absolute positioning of menu */
#settings-container {
    position: relative;
    display: inline-block;
}

/* Gear Icon */
#settings-icon {
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

/* Settings Menu - initially with 0 opacity */
#settings-menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    width: 220px;
    z-index: 1000;
    gap: 10px;
    display: flex;
    flex-direction: column;

    /* Hide menu by setting is opacity to 0 */
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none; /* Prevents interaction when hidden */
}

/* When the menu has the "show" class, increase the opacity */
#settings-menu.show {
    opacity: 1;
    pointer-events: auto; /* Restores interaction when visible */
}

/* Close button inside the menu */
#settings-close {
    text-align: right;
    cursor: pointer;
    font-size: 20px;
}

/* Style each setting item */
#settings-menu .setting-item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}


#login-info {
    display: inline-block;
    text-align: center;
}

#dark-mode-switch-box {
    float: right;
    text-align: right;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    content: "";
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#source-box, #episode-box, #segment-box, #readonly-textbox {
    width: 80%;
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
    text-align: right;
    direction: rtl;

    /* Remove or comment out the border and background properties */
    /* border: 1px solid #ddd; */
    /* background-color: #ffffff; */
}

#source-box strong {
    color: #1E90FF; /* Deep Blue */
}

#episode-box strong {
    color: #32CD32; /* Lime Green */
}

#segment-box strong {
    color: #AA336A; /* Dark Pink */
}

#readonly-textbox strong {
    color: #555555; /* Dark Grey */
}

#readwrite-textbox {
    width: 80%;
    text-align: right;
    direction: rtl;
    margin: 5px 0;
    margin-top: 20px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.added {
    color: green;
}

.deleted {
    color: red;
    text-decoration: line-through;
}

.extra-space {
    text-decoration: underline;
    text-decoration-color: green;
    color: green;
}

.missing-space {
    text-decoration: underline;
    text-decoration-color: red;
    color: red;
}

audio {
    width: 100%;
    max-width: 300px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 40px;
}

button {
    margin: 0px;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#submit-button {
    background-color: #007bff;
}

#skip-button {
    background-color: #ff1a1a;
}


#complexity-indicator {
    width: 50%;
    height: 20px;
    background: linear-gradient(to right, green 0%, red 100%);
    position: relative;
    margin-bottom: 30px;
}

#complexity-arrow {
    position: absolute;
    top: 20px;
}

#complexity-arrow::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
}

#complexity-text {
    position: absolute;
    top: 30px; /* Positioned below the arrow */
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}

#guidelines {
    margin-top: 0px;
    margin-bottom: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-header {
    width: 100%; /* Full width */
    padding: 1em; /* Adjust padding as needed */
    border-bottom: 1px solid #dedede; /* Thin line for the header */
    background-color: gray; /* Light gray background, adjust the color as needed */
    box-sizing: border-box; /* Ensures padding doesn't affect total width */
    color: white;
    direction: rtl;
}

.header-text {
    font-size: 16px;
    margin-left: 10px;
}

.modal-wrapper {
    width: 80%;
    margin: 10% auto;
    padding: 0px;
    border: 1px solid #888;
    background-color: #fefefe;
    max-height: 50vh;
    overflow: auto;
}

.modal-content {
    width: 100%;
    padding: 1em 0; /* Vertical padding only */
    background-color: #fefefe;
    text-align: right; /* Align text to the right for RTL */
    font-size: 16px;
}

@media (min-width: 768px) {
    .modal-wrapper {
        width: 35em;
    }
}

.checkbox-group {
    display: flex;
    direction: rtl;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group label {
    margin-left: 10px; /* Space between checkbox and label */
}

/* The Close Button */
.skip-close, .shortcuts-close {
    float: left; /* Aligns the button to the left */
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: transparent;
    font-size: 16px; /* Adjust size as needed */
    margin-right: 10px; /* Optional: Adds some space between the button and the modal content */
    padding: 4px;
}

.skip-close:hover,
.skip-close:focus,
.shortcuts-close:hover,
.shortcuts-close:focus {
    background-color: red;
    color: white;
    cursor: pointer;
}

.site-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-footer .footer-credits {
    font-size: 1em;
}

.site-footer .footer-links {
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.site-footer .footer-link {
    color: inherit;
    text-decoration: none;
    color: inherit;
}

.site-footer .footer-link-icon {
    font-size: 1.5em;
}

.site-footer .footer-link-icon .svg-icon {
    display: block;
    width: 1.5em;
    height: 1.5em;
}

/* Plyr Styles - a lot of '!important' in order to override Plyr defaults*/
.plyr__controls {
    display: grid !important;
    gap: 8px !important;
    padding: 8px !important;
}

/* Progress and time in first row, full width */
.plyr__progress__container, .plyr__time {
    grid-row: 1 !important;
}

.plyr__time {
    width: 32px !important; /* Add width so that adding a '-' does not break the layout */
}

.plyr__progress__container {
    margin-right: 8px !important;
    grid-column: span 4 !important;
    justify-self: stretch !important;
}

.plyr__progress__buffer,
.plyr__progress {
    width: 100% !important;

    input[type="range"] {
        width: 100% !important;
    }
}

/* All other controls are in second row */
.plyr__control,
[data-plyr="mute"],
.plyr__volume,
[data-plyr="speed"],
.plyr__menu {
    grid-row: 2 !important;
    width: fit-content;
}
